body{
    background: #ffe8e8;
}
.container {
  max-width: 960px;
  margin: 3rem auto;
  text-align: center;
}
.filter-button {
  border: 1px solid #f7e5ae;
  color: #af6800;
  text-transform: capitalize;
  background: #fff;
  font-size: 1rem;
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  margin: 10px;
  width: 80px;
  cursor: pointer;

    margin: 10px 10px 30px;

}

.food-items{
  display:grid;
grid-template-columns:repeat(auto-fit, minmax(278px,1fr)) ;
justify-content: center;
grid-gap: 16px;
margin: 16px;
}

.food-items .food-plate {
  /* width: 278px; */
  position: relative;
  /* border: 1px solid #e1e1e1; */
  box-shadow: var(--light-shadow);
  border-radius: 4px;
  

}
.food-items .food-plate img {
  height: 180px;
  padding: 4px;
  /* border-radius: 4px; */
  /* border: 1px solid #cc8d2f; */
  background: #fdfdfd;
}
.price {
  position: absolute;
  right: 5px;
  top: 143px;
  background: #ff5722;
  color: #fff;
  padding: 4px 8px;
}
.spacing {
  padding: 18px;
  min-height: 140px;
  background: var(--white1);
}
.para {
  font-size: 0.8rem;
}
